
.date{background-color: white;width:259px; height:222px; border:1px solid #ccc; position: absolute; left:0; top:0; display: none; z-index: 20170714;}
.date div{width:36px; height:36px; border:1px solid #ccc; border-top:none; border-right: none; float:left; text-align: center; line-height: 36px; font-size: 12px; font-family: "微软雅黑"; cursor: pointer;}
.date div.picker:hover{background: #ccc; color:#fff;}
.active{background: #A8AEB5;}